*{
    font-family: "Heebo-Regular", "Ubuntu", "monospace";
}

:root{
    --blue: #22A7F0;
    --dark: #1D2228;
    --light: #F9F9F9;
    --red: #ff3f3f;
}

@font-face {
    font-family: "Heebo-Regular";
    src: url("./static/Heebo-Regular.ttf");
}

@font-face {
    font-family: "Heebo-Light";
    src: url("./static/Heebo-Light.ttf");
}

@font-face {
    font-family: "Ubuntu";
    src: url("./static/Ubuntu-Regular.ttf");
}

/* INDEX.HTML STYLES */

#index-body{
    display: grid;
    column-gap: 0px;
    grid-template-columns: 30vw 70vw;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

#index-body #graphics-section, #index-body #form-section{
    padding: 30px;
}

#graphics-section{
    background-color: var(--blue);
}

#graphics-section #img-container{
    text-align: center;
    padding: 30px 10px 10px;
}

#graphics-section #img-container img{
    height: 400px;
}

#graphics-section div p{
    text-align: center;
    font-size: 25px;
    color: var(--dark);
}

#form-section{
    background-color: var(--dark);
    color: var(--light);
}

#form-section h1{
    text-align: center;
    padding-top: 40px;
}

#form-section form{
    display: grid;
    grid-template-columns: 50% 50%;
    row-gap: 20px;
    width: 650px;
    margin: auto;
}

#form-section form .input-container{
    padding: 5px 20px;
}

#form-section form .input-container label{
    font-size: 15px;
    text-transform: uppercase;
}

#form-section form .input-container input{
    display: block;
    width: 250px;
    border-radius: 5px;
    border: 1px solid #E5E7EB;
}

#form-section form .input-container input:focus{
    border: 1px solid var(--blue);
    outline: none;
}

#form-section form .input-container .error-message{
    font-size: 12px;
    height: 15px;
}

#form-section form .input-container input:invalid+.error-message{
    color: var(--red);
}

#form-section button{
    background-color: var(--blue);
    background-image: linear-gradient(to right, white 50%, var(--blue) 50%);
    background-size: 200%;
    background-position: right;
    transition: background-position 0.7s, color 0.7s;
    margin: 25px;
    border-radius: 5px;
    border: solid var(--blue);
    color: var(--dark);
    padding: 8px 24px;
    font-size: 16px;
}

#form-section button:hover{
    background-position: left;
    color: var(--blue);
}

#form-section #login-text p a{
    color: var(--blue);
}

/* SUCCESS.HTML STYLES */
#success-body{
    background-color: var(--dark);
    background-image: url(./static/success-astronaut.svg), url(./static/blob.svg);
    background-repeat: no-repeat;
    background-size: 600px, cover;
    background-position: right -10px bottom -20px, left 0px top 0px;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

#success-body #success-text{
    padding: 100px 70px;
}

#success-body #success-text p{
    color: var(--light);
    font-size: 40px;
}
